<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BaseLib" version="1.6.0.240" targetFramework="net462" />
  <package id="BaseLibS" version="1.6.0.240" targetFramework="net462" />
  <package id="NumPluginSvm" version="1.6.0.240" targetFramework="net462" />
  <package id="PerseusApi" version="1.6.0.151" targetFramework="net462" />
  <package id="PerseusLibS" version="1.6.0.1164" targetFramework="net462" />
</packages>